{% extends "site/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "site/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

<h2>{% trans 'reading book' %}</h2>
{% if reading_book %}
    <div class="module">
    {{ recommendship.recommendation.book }} from {{recommendship.from_user }} on {{ recommendship.recommendation.date }}
    </div>
{% endif %}

<h2>{% trans 'finished book' %}</h2>
{% if books %}
<div class="module">
{% for book in books %}
    {{ book.book }} on {{ book.date }}
{% endfor %}
</div>
{% endif %}
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="friend" id="friend">
        <h2>{% trans 'friends' %}</h2>
        <h3>{% trans 'confirmed friends' %}</h3>
            <ul class="actionlist">
            {% for friend in confirmed_friends %}
            <li>
                {{ friend.username }}
                <a href="{% url 'delete_friend' friend.pk %}" class="deletelink">{% trans 'Delete' %}</a>
            </li>
            {% endfor %}
            </ul>
        <h3>{% trans 'to be confirmed friends' %}</h3>
            <ul class="actionlist">
            {% for friend in to_be_confirmed_friends %}
            <li>
                {{ friend.username }}
                <a href="{% url 'confirm_friend' friend.pk %}" class="confirmlink">{% trans 'Confirm' %}</a>
            </li>
            {% endfor %}
            </ul>
    </div>
    <div class="user" id="user">
        <h2>{% trans 'Non Friends yet' %}</h3>
        <h3>{% trans 'users' %}</h3>
            <ul class="actionlist">
            {% for friend in users %}
            <li>
                {{ friend.username }}
                <a href="{% url 'add_friend' friend.pk %}" class="addfriendlink">{% trans 'Add Friend' %}</a>
            </li>
            {% endfor %}
            </ul>
    </div>
</div>
{% endblock %}
