{# <embed srcp"{{ STATIC_URL }}booklog/static/booklog/footage.mp4"/> #}
{#<image src="{{ STATIC_URL }}booklog/static/booklog/spinner.gif"/> #}
{% load staticfiles %}
<div align="right"> 
    Welcome, 
    {% if user.is_active %}
        <a href="/profile"> {{ user.username }} </a>&nbsp 
        <a href="/logout"> Log Out </a>&nbsp 
    {% else %}
        <a href="/login"> Log In </a>&nbsp 
        <a href="/signup"> Sign Up </a> 
    {% endif %}
</div>
<embed src="{% static "booklog/footage.mp4" %}" alt="my video" width="1800" height="600"/>
<br>
<br>
<form align="middle" action="/" method="get"> {% csrf_token %}
        <input type="text" name="search" value="" style="height:30px;font-size:14pt;"/>
        <input type="submit" value="search" style="height:30px">
</form>
<br>
<br>
<br>
<div align="middle"> 
{% if booklist %}
    {% for book in booklist %}
        <a href={% url 'booklog:detail' book.pk %}> {{book.name}} </a><br>
    {% endfor %}
{% elif bookname %}
    <a href={% url 'booklog:add' bookname %} > click to add book {{bookname}} </a><br>
{% endif %}
</div>
