{% extends "site/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block content %}
<div id="content-main">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<form align="middle" action={% url "index" %} method="get" > {% csrf_token %}
        <input class='vTextField' type="text" name="search" value="">
        <input type="submit" value="search">
</form>

<br>
<br>
<div class='results' align="middle">
{% if bookname %}
<table align="middle" id='result_list'>
        {% if booklist %}
            {% for book in booklist %}
                <tr>
                    <a href={% url 'booklog:detail' book.pk %}> {{book.name}} </a>
                <tr>
            {% endfor %}
        {% elif bookname %}
            <tr>
                <a href={% url 'booklog:add' bookname %} > click to add book {{bookname}} </a>
            <tr>
        {% endif %}
</table>
</div>          
{% endif %}
</div>          
{% endblock %}
