{% extends "site/base_site.html" %}
{% load i18n static %}
{% block content %}
<div id="content-main">
<p>"Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." </p>
<p>{{status}}</p>
<form action="/password_change/" method="post"> {% csrf_token %}
        old password: 
        <input type="password" name="oldpassword" value=""/><br />
        new password: 
        <input type="password" name="newpassword" value="" /><br />
        new password confirmation:
        <input type="password" name="newpassword2" value="" /><br />
        <input type="submit" value="Change Password" />
</form>
</div>
{% endblock %}
