{% extends "site/base_site.html" %}
{% load i18n static %}
{% block content %}
<div id="content-main">
    {{ state }}
    <form action="/signup/" method="post"> {% csrf_token %}
        username: 
        <input type="text" name="username" value="" /><br />
        firstname:
        <input type="text" name="firstname" value="" /><br />
        lastname:
        <input type="text" name="lastname" value="" /><br />
        email: 
        <input type="text" name="email" value="" /><br />
        password:
        <input type="password" name="password" value="" /><br />
        password again:
        <input type="password" name="password2" value="" /><br />
        <input type="submit" value="Log In" />
    </form>
    <p><a href="{% url 'login' %}">< 'already user? login' ></a></p>
</div>
{% endblock %}
