{% extends "site/base_site.html" %}
{% load i18n static %}
{% block content %}
<div id="content-main">
    {{ state }}
    <form action="/profile/" method="post"> {% csrf_token %}
        username: {{username}} <br>
        firstname:
        <input type="text" name="firstname" value="{{firstname}}" /><br />
        lastname:
        <input type="text" name="lastname" value="{{lastname}}" /><br />
        email:
        <input type="text" name="email" value="{{email}}" /><br />

        <input type="submit" value="Save" />
    </form>
</div>
{% endblock %}
